.active {
  color: #1890ff !important;
  text-decoration: underline;
}

.line {
  margin-top: 12px;
  margin-bottom: 8px;
  width: 100%;
  height: 1px;
  background-color: #999;
}

.ProseMirror {
  height: 500px;
  padding: 15px 25px;
  overflow: scroll;
}

.editor-scroll ::-webkit-scrollbar {
  display: none;
}

.editor-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
